<html>
    <head>
           <title>servlet
           </title>
           <link rel="stylesheet" href="/servpro.css">
           
    </head>
    <body>
        <div id="titlebar">
            <a id="tilt">Blood Banking System</a>
            <a href="app">HOME</a>
            <a href="#">Contact Us</a>
            <a href="g">My Account</a>
        </div>
        <div id="Login">
            <form  method="POST">
                <input type="text" name="firstname" placeholder="firstname" aria-label="firstname" required>
            <input type="password" name="password" placeholder="password" aria-label="password" required>
                <button type="submit">Login</button>
            </form>
        </div>
        <div id="signup">
            <p>Doesn't have an account?<span>sign up</span></p>
        </div>
    </body>
</html>