#titlebar{
     height: 60px;
     background-color: black;
     color: aliceblue;
     align-items:inherit;
     
}
#tilt{
    width: 300px;
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 300px;
    font-size: 40px;
    
}
a{
    width: 100px;
    margin-left: 5px;
    margin-right: 100px;
    color: aliceblue;
}
form{
    width: 200px;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    padding: 50px;
    padding-right: 15px;
    margin-top:160px;
    margin-left: 500px;
    background-color: rgb(4, 4, 4);

}
input{
    margin-bottom: 10px;
    border-radius: 3px;
    text-align: center;
}
button{
    width: 170px;
    text-align: center;
    cursor: pointer;
    
}
